.mainSectionProfile{
    height: fit-content;
    font-family: 'Montserrat';
    .mainZone{
      width: 84vw;
      height: 100%;
      padding: 0vh 8vw 0vh 8vw;
      min-height: 60vh;
      .mainContainer{
        display: grid;
        grid-template-areas: 
        "profile adresses"
        "profile orders"
        "profile .";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto) 1fr;
        gap: 32px;
        padding-top: 32px;
        span{
          padding-left: 8px;
        }
        .adresses{
          grid-area: adresses;
        }
        .orders{
          grid-area: orders;
        }
        .profile{
          grid-area: profile;
        }
        @media screen and (max-width: 767px){
          &{
            display: grid;
            grid-template-areas: 
            "profile"
            "adresses"
            "orders";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,auto) 1fr;
            grid-row-gap: 32px;
         
          }
          
        }
      }
     
        
    }
}