.mainSectionContact{
    height: fit-content;
    font-family: 'Montserrat';
    .mainZone{
        width: 84vw;
        height: 100%;
        padding: 0vh 8vw 0vh 8vw;
        min-height: 60vh;
        .mainContainer{
          
            tr{
                color: #999999;
            }
        }
        
    }
}