.mainSectionEntry{
    height: fit-content;
    font-family: 'Montserrat';
    .mainZone{
        width: 84vw;
        height: 100%;
        padding: 0vh 8vw 0vh 8vw;
        min-height: 62vh;
        .mainContainer{
          display: flex;
          align-items: center;
          justify-content: center;
            height: inherit;
            min-height: inherit;
            .log{
                min-width: 260px;
                width: 25vw;
                .logbutton{
                    all: unset;
                    padding-left: 4px;
                    color: #1677ff;
                    text-decoration: none;
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                }
               
            }
            .reg{
                min-width: 260px;
                width: 25vw;
                color: wheat;
                .regbutton{
                    all: unset;
                    padding-left: 4px;
                    color: #1677ff;
                    text-decoration: none;
                    background-color: transparent;
                    outline: none;
                    cursor: pointer;
                }
                
            }
        }
        
    }
}